<h1 style="color:blue;">Ingrese datos</h1>
<br>

<form action="/productos" method="post">

    <div class="form-group">
        <label for="nombre"><b>Nombre</b></label>
        <input id="nombre" class="form-control" type="text" name="nombre">
    </div>

    <div class="form-group">
        <label for="precio"><b>Precio</b></label>
        <input id="precio" class="form-control" type="number" name="precio">
    </div>
    
    <div class="form-group">
        <label for="url"><b>Foto URL*</b></label>
        <input id="url" class="form-control" type="url" name="url">
    </div>

    <details>
        <summary>*Click Aqui para ver algunos ejemplos de url de imagenes</summary>
        <lu>
            <li> https://cdn3.iconfinder.com/data/icons/education-209/64/calculator-math-tool-school-256.png </li>
            <li> https://cdn3.iconfinder.com/data/icons/education-209/64/bag-pack-container-school-256.png </li>
            <li> https://cdn3.iconfinder.com/data/icons/education-209/64/book-note-paper-school-256.png </li>
            <li> https://cdn3.iconfinder.com/data/icons/education-209/64/clock-stopwatch-timer-time-256.png </li>
        </lu>
    </details>
    <br>
    <button class="btn btn-success mt-3 mb-5">Enviar</button>

</form>

<a class="btn btn-danger mt-3 mb-5" href="/productos/"> Ver Productos </a>